node_modules/
dist/
*.db

web/server/data/*.db*
web/server/data/providers.json
web/server/data/debug/
web/data/
data/*.db*
data/providers.json
data/debug/
setup/*.msi
setup/*.zip
/web/server/data/bash-logs
/data/mcpservers
/data/mcpservers
/data/mcpservers
data /sessions.db-shm
data /providers.json
data /sessions.db-wal
